$black: #1C1C1C;
$light-black: #262626;
$gray: #999;
$blue: #425289;
$light-blue: #6C88E2;
$white: #E1DAE5;

body{
  margin-top: 56px;
  background-color: $black;
  height: 100%
}

footer{
  background-color: $blue;
}

.nav-item.active{
  border-bottom: 3px $blue solid;
}

section .container{
  background-color: $light-black;
  color: $white;
}


#recent{
    .btn{
      background-color: $blue ;
    }
    .card{
      background-color: $gray;
      color: black;
    }

}

#summary{
  a{
    color: $blue;
    text-decoration: none;
  }
  a:hover{
      text-shadow: $blue 1px 0px 1px;
  }
  p{
      font-size: 1.3rem;
  }
}

#main-header{
  background-color: $blue;
}


#skills{
  font-size: 1.5rem;
  ul{
    list-style: none;
  }
}

#projects{
  .bricklayer{
    border-left: 3px white solid;
  }

  i{
    font-size: 0.8em;
  }
}

.card{
  width: 18rem;
  .btn{
    background-color: $blue;
    color: $white;
  }
  .btn:hover{
    border: 1px solid $light-blue;
  }
}

.pad{
  padding: 1.5rem 2.5rem !important;
}

#contactMe{
  .info, a{
    color: rgb(41, 125, 194);
    font-size: 1.5em;
    font-weight: bolder;
  }
  .container {
    .row p:hover{
      transform: scale(1.1);
      transition: transform 1s;
    }
    .row p:hover:after{
      text-shadow: 1px 1px white;
    }
  }
}
